{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>temp_shop</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container naglowek">
            <div class="item">
                <div class="text">temp_shop</div>
            </div>
            <div class="item">

                <div class="text">
                    konto
                </div>
                {% if not user.is_authenticated %}
                <div class="text">
                    <a href="{% url 'login' %}" class="text-button">zaloguj się</a>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="text">
                    <a href="{% url 'logout' %}" class="text-button">wyloguj się</a>
                </div>
                {% endif %}
                <div>
                    <a href="{% url 'cart' %}">
                        <img src="{% static 'images/basket-icon.png' %}" alt="Basket Icon" class="basket-icon" style="width: 80px; height: auto;">
                    </a>
                </div>
            </div>
        </div>

        <div class="container kategorie">

            <div class="item">
                <p>kategorie</p>
            </div>

            <form class="item" action="{% url 'search' %}" method="get">
                <div class="item_child">
                    <input class="input input1" type="text" name="min_price" placeholder="cena minimalna">
                    <input class="input input1" type="text" name="max_price" placeholder="cena maksymalna">
                </div>
            </form>

            <form class="item item2" action="{% url 'search' %}" method="get">
                <input class="input" type="text" name="query" placeholder="Search products...">
                <button class="button" type="submit">
                    <img class="img" src="{% static 'images/search-icon.png' %}" alt="search">
                </button>
            </form>
        
        </div>

        <div class="container">

            <div class="container produkty_lista">
                <div class="item baner">
                    baner reklamowy
                </div>
                <div class="item produkty">
                    {% for product in products %}
                    <div class="item produkt">
                            {{ product.name }}
                            <form method="post" action="{% url 'create_order' product.id %}">
                                {% csrf_token %}
                                <button class="button" type="submit" >Add to Order</button>
                            </form>
                    </div>
                    {% endfor %}
                </div> 
            </div>

        </div>

        <div class="container footer">

            <div class="item">
                <p>Dane firmy projektującej strone</p>
            </div>

            <div class="item">
                <p>Kontakt</p>
                <ul>
                    <li>
                        <p>telefon</p>
                    </li>
                    <li>
                        <p>mail</p>
                    </li>
                </ul>
            </div>

            <div class="item">
                <p>Konto</p>
                <ul>
                    <p></p>
                    <li>
                        <a href="{% url 'register' %}" class="link-button">rejestracja</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}" class="link-button">logowanie</a>
                    </li>
                </ul>
            </div>

            <div class="item">
                <p></p>
                <ul>
                    <li>
                        <p>reklamacja</p>
                    </li>
                    <li>
                        <p>regulamin sklepu</p>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>