{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>temp_shop</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container naglowek">
            <div class="item">
                <p>temp_shop</p>
            </div>
            <div class="item">
                <div class="item">konto</div>
                <div class="item">zaloguj się</div>
                <img src="{% static 'images/basket-icon.png' %}" alt="" style="height: 10%; width: 7%; color: #b82e2e;">
            </div>
        </div>

        <div class="container przerywnik" style="height: 3px;">
        </div>

        <div class="container kategorie">

            <div class="item">
                <p>kategoria</p>
            </div>
            <div class="item">
                <p>kategoria</p>
            </div>
            <div class="item">
                <p>kategoria</p>
            </div>
            <div class="item">
                <p>kategoria</p>
            </div>

            <div class="item lupka">
                <input type="text">
                <img src="{% static 'images/search-icon.png' %}" alt="" width="10%">
            </div>
        </div>

        <div class="container przerywnik" style="height: 3px;">
        </div>

        <div class="container">

            <div class="container filtry">
                <div class="item">
                    <p>filtry</p>
                </div>
                <div class="item">
                    <p>filtr 1</p>
                    <input type="text">
                </div>
                <div class="item">
                    <p>filtr 2</p>
                    <input type="text">
                </div>
                <div class="item">
                    <p>filtr 3</p>
                    <input type="text">
                </div>
                <div class="item">
                    <p>filtr 4</p>
                    <input type="text">
                </div>
                <div class="item">
                    <p>filtr 5</p>
                    <input type="text">
                </div>
            </div>

            <div class="container produkty_lista">
                <div class="item baner">
                    baner reklamowy
                </div>
                <div class="item produkty">
                    <div class="item produkt">
                        produkt 1
                    </div>
                    <div class="item produkt">
                        produkt 2
                    </div>
                    <div class="item produkt">
                        produkt 3
                    </div>
                    <div class="item produkt">
                        produkt 4
                    </div>
                    <div class="item produkt">
                        produkt 5
                    </div>
                    <div class="item produkt">
                        produkt 6
                    </div>
                    <div class="item produkt">
                        produkt 7
                    </div>
                    <div class="item produkt">
                        produkt 8
                    </div>
                    <div class="item produkt">
                        produkt 9
                    </div>
                </div> 
            </div>

        </div>

        <div class="container footer">

            <div class="item">
                <p>Dane firmy projektującej strone</p>
            </div>

            <div class="item">
                <p>Kontakt</p>
                <ul>
                    <li>
                        <p>telefon</p>
                    </li>
                    <li>
                        <p>mail</p>
                    </li>
                </ul>
            </div>

            <div class="item">
                <p>Konto</p>
                <ul>
                    <li>
                        <p>rejestracja</p>
                    </li>
                    <li>
                        <p>logowanie</p>
                    </li>
                </ul>
            </div>

            <div class="item">
                <ul>
                    <li>
                        <p>reklamacja</p>
                    </li>
                    <li>
                        <p>regulamin sklepu</p>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>