body{
    background-color: #FDE3E9;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-self: center;
}

.link-button {
    display: flex;
    padding: 0;
    border: none;
    background: transparent;
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.item a {
    margin-bottom: 1em;
}

.hover-button {
    display: flex;
    padding: 0;
    border: none;
    background: transparent;
    font: inherit;
    color: inherit;
    outline: none;
}

.hover-button:hover {
    cursor: pointer;
}

.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    min-width: 0px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}

.naglowek{
    background-image: linear-gradient(to right, #ff3131, #ff914d);
    min-width: 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item{
        font-size: 200%;
        min-width: 0;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .text{
            font-size: xx-large;
            margin: 10px;
        }
    }
}

.kategorie{
    background-image: linear-gradient(to right, #ff5757 , #8c52ff);
    min-width: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text{
        font-size: x-large;
        margin-left: 10px;
        margin-right: 10px;
    }
    .item{
        margin: 10px;
        display: flex;
        justify-content: end;
        min-width: 0px;
    }
    .lupka{
        width: 30%;
    }
}

.filtry{
    height: 90vh;
    background-color: pink;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
}

.filtry .item{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px;
}

.produkty_lista{
    width: 100%;
    height: 90vh;
    box-shadow: none;
    background-color: #fdf3fa;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    .baner{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #cb6ce6;
        /* background-color: #FDDBE2; */
        margin: 10px;
        height: 120px;
        display: flex;
        justify-content: center;
        width: 94.6%;
        border: 3px solid;
        border-color: linear-gradient(to right, #ff5757 , #8c52ff);
        border-radius: 5px;
    }
    .produkty{
        display: flex;
        width: 100%;
        flex-wrap: wrap; 
        justify-content: space-around;
        .produkt{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            color: #cb6ce6;
            background-color: #FDDBE2;
            display: flex;
            height: 100px;
            width: 28%;
            justify-content: space-around;
            flex-wrap: wrap;
            border: 3px solid;
            border-color: linear-gradient(to right, #ff5757 , #8c52ff);
            border-radius: 5px;
            margin: 10px;

        }
    }
}

.item{
    display: flex;
}

.przerywnik{
    background-color: #cb6ce6;
    width: 78%;
}

.footer{
    background-image: linear-gradient(to right, #ff3131, #ff914d);
    display: flex;
    justify-content: space-between;
    width: 70%;
    .item{
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-left: 20px;
        margin-right: 20px;
    }
}
